* {
    font-family: sans-serif;
    text-align: center;
}
h1,h2,h3 {
    margin: 2px;
    padding-left: 5px;
}
h3 {
    text-align: left;
    text-decoration: underline;
}
footer {
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    border: 1px solid black;
}
select {
    border: 1px solid black;
    margin: 2px;
}
button:hover {
    cursor: pointer;
}
.check {
    margin: 1px;
    background-color: #d2d3c7;
}
.part {
    display: flex;
    justify-content: space-between;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.settings {
    background-color: #756e5b;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px;
    width: 100%;
    max-width: 600px;
    border: solid 1px black;
    justify-content: space-between;
}
.options {
    background-color: white;
}
.box {
    background-color: white;
    flex-grow: 1;
    flex-direction:row;
    margin: 2px;
    border: solid 1px black;
}

.results {
    border: solid 1px black;
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 100%;
}
.all_ {
    text-decoration: none;
    width: 100%;
    height: 30px;
    text-align: left;
    overflow: hidden;
}
._add {
    height: 300px;
    display: none;
}
._select {
    background-color: #a09a84;
    border: solid 1px black;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 50%;
    overflow-y: auto;
}
._select span {
    background-color: #cfb59f;
    margin: 2px;
    border: solid 1px black;
    text-align: right;
    width:100%;
}
._find {
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    width: 50%;
}
._list {
    border: solid 1px black;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.search {
    display: flex;
    justify-content: flex-end;
}
.input {
    width: 100%;
}
.map {
    border: 1px solid black;
    color: white;
} .map:hover {
    border: 1px solid white;
}
#title {
    border: solid 1px black;
}
#mapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#output {
    border: solid 1px black;
    width: 100%;
    max-width: 600px;
}
#output * {
    text-align:left;
}
#start {
    background-color: green;
}
#stop {
    background-color: #db2b39;
}
